<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>KneeFixerPro</title>
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  </head>
<body>
<html>
<!-- Header -->
      <header id="header">
        <a href="#menu"><span>Menu</span></a>
      </header>
<!-- Nav -->
      <nav id="menu">
        <ul class="links">
          <li><a href="http://mikethebro.com">Home</a></li>
          <!--<li><a href="generic.html">Generic</a></li>-->
          <li><a href="http://kneefixerpro.mikethebro.com">KneeFixerPro</a></li>
          <!--<li><a href="elements.html">Elements</a></li>-->
        </ul>
      </nav>
<!-- Footer -->
      <footer id="footer">
        <div class="inner">

          <h2>KneeFixerPro</h2>

          <form id="exercise-form" action="#">
      <div class="field half first">
      <label for="exercise">Exercise</label>
      <input type="text" onkeypress='return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || event.charCode == 32'id="exercise" placeholder="Exercise">
    </div>
    <div class="field half">
      <label for="times">Times per Day</label>
      <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' id="times" placeholder="Times">
    </div>
    <div>
      <label for="description">Exercise Description</label>
      <textarea id="description" cols="40" rows="7" placeholder="Exercise Description"></textarea>
    </div>
     <ul class="actions">
      <p></p>
    <button class="submit" id="submit">Submit Exercise</button>
  </ul>
    </form>
            <!--<div class="field">
              <label for="message">Message</label>
              <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
            </div>-->
          </form>

          <!--<ul class="icons">
            <li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
          </ul>-->

          <div class="copyright">
            Design from <a href="https://templated.co">TEMPLATED</a>.
          </div>

        </div>
      </footer>
<p>Version 0.1.0</p>
<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/3.7.5/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBs6Gxmg8j_wicTwOSZ-CToaBSAzo7X-kA",
    authDomain: "kneefixerpro.firebaseapp.com",
    databaseURL: "https://kneefixerpro.firebaseio.com",
    projectId: "kneefixerpro",
    storageBucket: "kneefixerpro.appspot.com",
    messagingSenderId: "342257651978"
  };
  firebase.initializeApp(config);
</script>
<!-- Scripts -->
<script type='text/javascript' src="{% static 'scripts/main.js' %}"></script>
</body>
</html>
